@import "global/global.css";
@import "utilities/typography.css";
@import "utilities/colors.css";
@import "global/header.css";
@import "global/footer.css";
@import "home/introduction.css";
@import "utilities/components.css";
@import "bicycles/bicycles-list.css";
@import "home/technology.css";
@import "home/partners.css";
@import "home/testimonial.css";
@import "security/security.css";
@import "termos/termos.css";
@import "bicycles/bicycles.css";
@import "security/benefits.css";
@import "security/questions.css";
@import "bicycle/bicycle.css";
@import "bicycle/security-bicycle.css";
@import "contact/contact.css";
@import "contact/shop.css";
@import "utilities/form.css";
@import "budget/budget.css";