.security-bicycle-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0px 120px var(--cor-0), inset 0px -120px var(--cor-12);
}

.security-bicycle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.security-bicycle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.security-bicycle-content {
    padding-top: 180px;
    padding-bottom: 180px;
}

.security-bicycle-content h2 {
    margin-bottom: 32px;
}

.security-bicycle-content p {
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .security-bicycle {
        grid-template-columns: 1fr;
    }

    .security-bicycle-content {
        grid-row: 1;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .security-bicycle-bg {
        box-shadow: inset 0px -60px var(--cor-12);
    }
}