.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--cor-p5);
    border-radius: 4px;
    text-transform: uppercase;
    font: 600 1.125rem/1.35 'Poppins', sans-serif;
    max-width: max-content;
}

.button:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.button.second {
    background: var(--cor-10);
    color: var(--cor-2);
}

.button.second:hover {
    background: var(--cor-9);
}

@media (max-width: 600px) {
    .button {
        padding: 12px 16px;
        font-size: 1rem;
    }
}