.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-form label {
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.contact-form .col-2 {
    grid-column: span 2;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form input[type="text"]:focus, .contact-form input[type="email"]:focus, .contact-form textarea:focus {
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-0);
    box-shadow: 0px 0px 0px 2px #fea;
}

@media (max-width: 600px) {
    .contact-form {
        grid-template-columns: 1fr;
    }
    
    .contact-form .col-2 {
        grid-column: 1;
    }
}
