.questions {
    padding-top: 120px;
    padding-bottom: 120px;
}

.questions h2 {
    margin-bottom: 60px;
}

.questions p {
    margin-top: 16px;
    margin-left: 20px;
    max-width: 75ch;
}

.questions li {
    padding: 20px;
    border-radius: 4px;
}

.questions li:nth-child(odd) {
    background-color: var(--cor-1);
}

.questions  li > span {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.questions li > span::before {  
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
}

.questions li > span::after {  
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background-image: url(../../img/icones/seta-abrir.svg);
    transition: 0.3s;
}

.questions li > span:hover::after {  
    transform: rotate(180deg);
}

@media (max-width: 800px) {
    .questions {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .questions h2 {
        margin-bottom: 40px;
    }
    
}