.security-bg {
    background-color: var(--cor-11);
}

.security {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

#seguros .security {
    padding-top: 0px;
}

.security h2 {
    grid-column: 1/-1;
}

.security-items {
    background-color: var(--cor-12);
    padding: 32px 32px 32px 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 4px;
}

.security-items h3 {
    margin-bottom: 40px;
}

.security-items span {
    grid-column: 2;
    display: block;
    text-align: right;
}

.security-items ul {
    grid-column: 1/-1;
    margin-bottom: 32px;
}

.security-items li + li {
    margin-top: 20px;
}

.security-items li {
    display: flex;
    align-items: center;
    position: relative;
}

.security-items li::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 9px;
    left: -21px;
    background-image: url(../../img/icones/lista.svg);
}

.security-items a {
    grid-column: 1/-1;
}

@media (max-width: 800px) {
    .security {
        grid-template-columns: 1fr;
    }
}