.technology-bg {
    background-color: var(--cor-11);
        box-shadow: inset 0px 80px 0px var(--cor-0), inset 0px -80px 0px var(--cor-0)
}

.technology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.technology-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.technology-content {
    padding-top: 160px;
    padding-bottom: 160px;
}

.technology-content > span {
    display: block;
    margin-bottom: 20px;
}

.technology-content h2 {
    margin-bottom: 32px;
}

.technology-content > p {
    margin-bottom: 20px;
}

.technology-content a {
    margin-bottom: 80px;
}

.technology-benefits {
    display: flex;
    gap: 40px;
}

.technology-benefits img {
    width: 24px;
    margin-bottom: 9px;
}

.technology-benefits h3 {
    margin-bottom: 8px;
    width: max-content;
}

@media (max-width: 800px) {
    .technology-bg {
        box-shadow: initial;
    }

    .technology {
        grid-template-columns: 1fr;
    }

    .technology-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .technology-image {
        display: none;
    }

    .technology-content a {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .technology-benefits {
        flex-direction: column;
    }
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 600 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.link::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: currentColor;
}

.link:hover {
    color: var(--cor-0);
}